*.avi
*.mpg
*.mkv
*.mp4
gource-*.png
.objs
/gource
/gource.exe
/mal4s.exe
/mal4s
gource.win32.depend
gource.win32.layout
gource.pro.user
debug.log
Makefile
Makefile.in
*.dll
*.dll.a
logs/*
/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/dev/win64
/build-aux
*.swp
*.d
.deps
.dirstamp
/dissect.conf
